* {
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: 'Varela Round', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
}


/*.navbar {
  background-color: #2d4263;
   background-color: #1D2D50; 
  transition: 0.5s;
}

.navbar a{
  color: white;
  border-radius: 5px;
  transition: 0.5s;
}

.navbar a:hover{
  background-color: white;
  color: black;
}*/

.navbar{
        background-color: transparent;
        border-bottom: 1px solid white;
      }

      .navbar a{
        color: white;
      }

      .navbar a:hover{
        color: #ECECEC;
      }
      .gas{
        margin-left: 250px;
      }

.search{
  padding: 8px;
}

.tombol-navbar{
  color: white;
  font-size: 30px;
}

.header {
  /* background-color: #1D2D50; */
  /*background-color: #2d4263;*/
  background: #17141D;
  /*margin-top: 50px;*/
  overflow: hidden;
  transition: 0.5s;
}

.header-desc {
  font-size: small;
}

.header-body {
  border-radius: 10px;
}

.header-body:hover {
  background-color: #04293a;
  color: #ecdbba;
}

.kartu-header:hover {
  background-color: #04293a;
  color: #ecdbba;
  transition: .5s;
}

.header-text {
  margin-left: -20px;
}

.header-desc2 {
  position: absolute;
  bottom: 0%;
  background-color: white;
  color: black;
  left: 10px;
  padding: 5px;
  border-radius: 5px;
  transition: all .75s;
}

.header-desc3 {
  position: absolute;
  top: 0%;
  background-color: white;
  color: black;
  left: 10px;
  padding: 5px;
  border-radius: 5px;
  transition: all .75s;
}

/* .header-text2 {
	background-color: white;
	padding: 10px 4px;
	border-radius: 10px;
} */



.header-desc img {
  width: 60px;
}

.header-desc2.active,
.header-desc3.active {
  background-color: #04293a;
  color: #ecdbba;
  transform: translateX(35%);
}

.btn {
  border: none;
}

/*.kartu-header{
	box-shadow: 4px 3px 5px 0px rgba(236,219,186,0.75);
}*/

/*main*/

.main {
  /* background-color: #1D2D50; */
  background-color: #2d4263;
  transition: 0.5s;
}

.main-judul {
   position: relative; 
  bottom: 80px;
  color: #ecdbba;
  text-transform: uppercase;
  transition: 0.5s;
}

.main-kartu:hover {
  background-color: #04293a;
  color: #ecdbba;
  
}

.main-kartu {
  border-radius: 10px;
  transition: 0.5s;
}


/*main side*/

.main-side {
  color: #ecdbba;
}

.developer {
  padding: 10px;
  background-color: white;
  color: black;
  border-radius: 10px;
  transition: 0.5s;
}

.developer:hover,
.komentar:hover {
  background-color: #ECECEC;
  /*color: #ecdbba;*/
  /*transform: translateY(-10px);*/
}


.kolom-crud{
  background-color: #2d4263;
  transition: 0.5s;
}


/*HALAMAN DETAILS*/

.developer-side {
  margin-left: 10px;
}

.developer-side h2 {
  color: #ecdbba;
  margin-top: 50px;
  transition: 0.5s;
}

.foto-header1 {
  /*padding: 20px;*/
  border-radius: 10px;
}

.judul-blog {
  color: #ecdbba;
  text-transform: uppercase;
  margin-bottom: 20px;
  /*margin-left: 20px;*/
}

.main-content {
  /* background-color: #071E3D; */
}

.main-content-paragraf {
  color: #ecdbba;
  /*padding-left: 30px;*/
  padding-top: 30px;
}

.paragraf-h3::after {
  content: "";
  border-bottom: 5px solid white;
  padding: 0 100px;
}

.main-paragraf {
  text-align: justify;
  font-size: 20px;
  line-height: 40px;
}

.judul-lainnya {
  color: #ecdbba;
  margin-top: 50px;
  margin-bottom: 30px;
}

.accordion-item:hover,
.accordion-button:hover {
  background-color: #04293a;
  color: #ecdbba;
  transition: 0.5s;
}

.komentar {
  padding: 20px;
  background-color: white;
  color: black;
  border-radius: 10px;
}

.footer {
  /* background-color: #1D2D50; */
  background: #17141D;
  color: white;
}

.fab {
  color: black;
  transition: 0.5s;
}

.fab:hover {
  color: #ecdbba;
}

/* responsive  */

@media only screen and (max-width: 768px) {
	#upper-content-container {
		margin: 2rem;
	}

	#main-content-header {
		margin: 0 2rem 0 2rem;
	}

	#main-content-container {
		margin: 2rem;
	}

  .navbar a{
    /*margin-left: 180px;*/
    text-align: center;
  }

  .navbar button{
    margin-left: 0;
    /*margin-bottom: 20px;*/
    /*margin-right: 10px;*/
  }

  .gas{
    margin-left: 0;
    text-align: center;
  }

  .tombol-mode{
    margin-left: 130px;
  }

  .search{
    margin-left: 210px;
    padding: 5px;
    text-align: center;
  }
}


/*lightmode*/

#lightmode body {

}

#lightmode .navbar{
  background-color: #D9D7F1;
  border-bottom-color: black;
  transition: 0.5s;
}

#lightmode .main-judul,
#lightmode .judul-lainnya{
  color: black;
  transition: 0.5s;
}

#lightmode .navbar a,
#lightmode .navbar button{
  color: black;
  transition: 0.5s;
  border-radius: 5px;
}

#lightmode .navbar a:hover,
#lightmode .navbar button:hover{
  background-color: black;
  color: white;
}

#lightmode .header,
#lightmode .main,
#lightmode .kolom-crud{
  background-color: #D9D7F1;
  transition: 0.5s;
}


#lightmode .main-content-paragraf,
#lightmode .judul-blog{
  color: black;
  transition: 0.5s;
}

#lighmode .navbar{
  background-color: white;
  transition: 0.5s;
}

#lightmode .developer,
#lightmode .komentar,
#lightmode .accordion-button,
#lightmode .accordion-item,
#lightmode .main-kartu,
#lightmode .header-body,
#lightmode .kartu-header{
  /*background-color: #2d4263;*/
  background-color: #ECECEC;
  color: black;
  transition: 0.5s;
}

#lightmode .developer:hover,
#lightmode .komentar:hover,
#lightmode .accordion-button:hover,
#lightmode .accordion-item:hover,
#lightmode .header-body:hover,
#lightmode .kartu-header:hover{
  background-color: white;
  color: black;
}

#lightmode .fab:hover{
  color: #041C32;
  transition: 0.5s;
}


#lightmode .main-side h2,
#lightmode .developer-side h2{
  color: black;
  transition: 0.5s;
}

#lightmode .paragraf-h3::after {
  content: "";
  border-bottom: 5px solid black;
  padding: 0 100px;
}

#lightmode .footer {
  /* background-color: #1D2D50; */
  background: #D9D7F1;
  color: black;
}